/* -----------------------
    Reset
    ---------------------- */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* --------------------------
        Main style
        ---------------------------- */
    html, body{
        font-family: sans-serif;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    h1, h2, h3{
        padding-bottom: 20px;
    }
    p{
        padding: 10px;
    }
    .current{
        background-color: #444;
        color: #f7c08a;
    }
    #navbar{
        background-color: #333;
        color: #fff;
        overflow: auto;
    }
    .container{
        width: 1100px;
        margin: 0 auto;
    }
    #navbar h1{
        float: left;
        padding-top: 20px;
    }
    #navbar ul{
        float: right;
    }
    #navbar ul li{
        float: left;
        list-style: none;
    }
    #navbar li a{
        display: inline-block;
        padding: 25px;
    }
    #navbar li a:hover{
        color: #f7c08a;
        background-color: #444;
    }
    .text-primary{
        color: #f7c08a;
    }
    .btn{
        display: inline-block;
        font: 18px;
        background-color: #333;
        color: #fff;
        padding: 13px 20px;
        border: none;
        cursor: pointer;
    }
    .btn:hover{
        background-color: #f7c08a;
        color: #333;
    }
    .btn-light{
        background-color: #f4f4f4;
        color: #333;
    }
    .btn-dark{
        background-color: #333;
        color: #fff;
    }
    .bg-dark{
        background-color: #333;
        color: #f4f4f4;
    }
    .bg-light{
        background-color: #f4f4f4;
        color: #333;
    }
    .bg-primary{
        background-color: #f7c08a;
        color: #333;
    }
    .clr{
        clear: both;
    }
    
    /* ------------------------
        Showcase section
        -----------------------*/
    #showcase {
        background-image: url(../images/showcase.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
    #showcase .showcase-content{
        color: #fff;
        padding-top: 170px;
        text-align: center;
    }
    #showcase h1{
        font-size: 60px;
    }
    #showcase p{
        font-size: 20px;
        padding-bottom: 20px;
    }
    /* -------------------------
        Home section
        -------------------------- */
    #home-info{
        height: 400px;
    }
    #home-info .info-img{
        float: left;
        width: 50%;
        height: 100%;
        background-image: url(../images/photo-1.jpg);
    }
    #home-info .info-content{
        float: right;
        width: 50%;
        text-align: center;
        padding: 70px 30px;
    }
    #home-info .info-content p{
        padding-bottom: 20px;
        font-size: 18px;
    }
    
    /* ----------------------------
        feature section
        -------------------------- */
    .box{
        width: 33.3%;
        float: left;
        text-align: center;
        padding: 50px;
    }
    
    /* ----------------------------------
        Footer section 
        ---------------------------------*/
    #main-footer{
        background-color: #333;
        text-align: center;
        padding: 20px;
    }
    #main-footer p{
        color: #fff;
    }
    
    /* ---------------------------
        About info
        --------------------------- */
    #about-info{
        padding: 20px 0;
        display: inline-block;
        width: 100%;
    } 
    #about-info .info-right{
        float: right;
        width: 50%;
        min-height: 100%;
    }
    #about-info .info-right img{
        display: block;
        margin: auto;
        width: 70%;
        border-radius: 50%;
    }
    #about-info .info-left{
        float: left;
        width: 50%;
    } 
    
    /* ---------------------------
        Testimonials section
        ----------------------------- */
    #testimonials{
        height: 600px;
        background-image: url(../images/test-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
    }
    #testimonials h1{
        text-align: center;
        color: #fff;
        font-size: 36px;
        padding-bottom: 40px;
    }
    
    #testimonials .testimonial{
        opacity: 0.9;
        border-radius: 5px;
        margin-bottom: 40px;
        padding: 20px;
    }
    #testimonials .testimonial img{
        width: 100px;
        float: left;
        border-radius: 50%;
        margin-right: 20px;
    }
    #testimonials .testimonial p{
        line-height: 30px;
    }
    
    /* -------------------------------
        Contact form
        ----------------------------- */
    #contact-form {
        padding: 20px;
    }
    #contact-form h1{
        font-size: 32px;
    }
    #contact-form p{
        padding: 10px 0;
    }
    #contact-form .form-group{  
        margin-bottom: 20px;
    }
    #contact-form label{
        display: block;
        margin-bottom: 5px;
    }
    #contact-form input,
    #contact-form textarea{
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
    }
    
    #contact-info {
        display: inline-block;
        width: 100%;
    }
    
    #contact-form button{
        font-size: 18px;
    }
    
    #contact-info i{
        padding-bottom: 10px;
        margin: 0;
    }
    
    