<template>
    <div>
       <section id="about-info">
            <div class="container">
                <div class="info-left">
                    <h1><router-link to="/add"><span>About Our Hotel</span></router-link></h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet officiis aperiam molestias eum magni eaque magnam maxime aut? Ut, qui assumenda vitae sapiente quo dolorum sit rem aliquid molestias quis nobis inventore iste ullam, repellendus dicta sequi nulla ipsum iusto.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi explicabo officiis laboriosam libero molestias alias, voluptas commodi distinctio repudiandae tempore quae odio maiores accusamus nulla fugiat natus vel recusandae fuga?</p>
                </div>
                <div class="info-right">
                    <img src="@/assets/photo-2.jpg" alt="foto">
                </div>
            </div>
        </section>
        <aboute-testimonials></aboute-testimonials>
    </div>
</template>

<script>
import AbouteTestimonials from './AbouteTestimonials.vue'
export default {
    components:{
        AbouteTestimonials
    },
}
</script>

<style scoped>
    span{
      color: #f7c08a;
    } 
    #about-info{
        padding: 15px 0;
        display: inline-block;
        width: 100%;
    } 
    #about-info .info-right{
        float: right;
        width: 50%;
        min-height: 100%;
    }
    #about-info .info-right img{
        display: block;
        margin: auto;
        width: 60%;
        border-radius: 50%;
    }
    #about-info .info-left{
        float: left;
        width: 50%;
    } 
    .info-left h1{
        font-size: 30px;
    }
    p{
        padding: 0;
    }
    a{
    color: #fff;
    text-decoration: none;
    }
    .text-primary{
    color: #f7c08a;
    }

</style>