<template >
    <div>
        <section id="testimonials">
            <div class="container">
                <h1>What Our guests say</h1>
                <div class="testimonial primary">
                    <img src="@/assets/person-1.jpg" alt="Zumrad">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae commodi nostrum officiis distinctio qui suscipit aperiam. Officiis quod, pariatur asperiores maiores eligendi harum at, cum sed delectus labore dolorum dolore.</p>
                </div>
                <div class="testimonial primary">
                    <img src="@/assets/person-2.jpg" alt="Qimmat">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem explicabo facilis neque est quis maxime quae, repudiandae consectetur similique, illum esse perferendis consequatur ut impedit quo accusamus. Id, repellat quas!</p>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
    #testimonials{
        height: 600px;
        background-image: url('~@/assets/test-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
    }
    #testimonials h1{
        text-align: center;
        color: #fff;
        font-size: 36px;
        padding-bottom: 40px;
    }

    #testimonials .testimonial{
        opacity: 0.9;
        border-radius: 5px;
        margin-bottom: 40px;
        padding: 20px;
    }
    #testimonials .testimonial img{
        width: 100px;
        float: left;
        border-radius: 50%;
        margin-right: 20px;
    }
    #testimonials .testimonial p{
        line-height: 30px;
    }
    .primary{
    background-color: #f7c08a;
    color: #333;
    }
    
</style>