<template>
    <div>
        <section id="contact-form">
            <div class="container" >
                <h1><router-link to="/content"><span>Contact</span><b> Us</b></router-link></h1>
                <p>Please fill out the form below to contact us</p>
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input v-model="comment.name" id="name" name="name" placeholder="Enter Your email">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input v-model="comment.email" id="email" name="email" placeholder="Enter Your email">
                    </div>
                    <my-button v-on:click="createComment" class="btn">Submit</my-button>
                </form>
            </div>
        </section>
    </div>
    <div>
        
    </div>
</template>

<script>
export default {
    data() {
        return {
            comment:{
                name: '',
                email: '',
            }
        }
    },
    methods:{
        createComment(){
            if(this.comment.name  && this.comment.email){
                this.comment.id = Date.now();
                this.$emit('addComment', this.comment);
                this.comment = {
                    name: '',
                    email: '',
            }     
            }
            else{
                alert('Input in empty')
            }
        },
        
    },
}
</script>

<style scoped>
    #contact-form .container{
        width: 80%;
        padding: 25px;
        margin: 0 auto;
        margin-top: 20px;
        border: 2px solid rgb(210, 208, 208);
    }
    input{
        width: 100%;
    }   
    b{
        color: #333;
    } 
    
    #contact-form {
    padding: 20px;
    }
    #contact-form h1{
        font-size: 32px;
    }
    #contact-form p{
        padding: 10px 0;
    }
    #contact-form .form-group{  
        margin-bottom: 20px;
    }
    #contact-form label{
        display: block;
        margin-bottom: 5px;
    }
    #contact-form input,
    #contact-form textarea{
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
    }

    #contact-info {
        display: inline-block;
        width: 100%;
    }

    #contact-form button{
        font-size: 18px;
    }

    #contact-info i{
        padding-bottom: 10px;
        margin: 0;
    }
</style>