<template>
    <div v-if="comments.length > 0" >
        <h3 class="text-center text-primary">Comments</h3>
        <comment-item v-bind:comment="comments" 
        v-for="comment in comments"
        @remove="$emit('remove', comment)"
        :key="comment.id" />
    </div>
    <div v-else>
        <h3 class="text-center text-danger">We can not found any comments</h3>
    </div>
</template>

<script>
import CommentItem from './UI/CommentItem'
export default {
    components:{
        CommentItem,
    },
    props:{
        comments:{
            type: Array,    
            required: true,
        }
    }
}
</script>

<style scoped>
    .comment{
            border: 5px solid #999;
            padding: 5px;
            margin: 20px auto;
            color: black;
        }
    .danger {
        background-color: rgb(114, 35, 35);
    }
</style>