<template>
    <div>
        <section  id="home-info" class="bg-dark">
        <div class="info-img">
            <img src="@/assets/photo-1.jpg" alt="">
        </div>
        <div class="info-content">
            <h2><span>The History</span> Of our hotel</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, quasi adipisci quis autem repellat ducimus numquam aperiam cupiditate maiores harum provident tempora nisi facilis est perferendis magnam reiciendis voluptas veniam porro doloribus saepe iusto. Amet eum sed natus optio nihil dolorem adipisci beatae. Voluptates sit error dolorum tenetur, facilis perspiciatis.</p>
            <a href="aboute.html" class="btn btn-light">Read More</a> 
        </div>
        <div class="clr"></div>
    </section>
    </div>
</template>

<script>
export default {
    
}
</script>
<style>
    span{
    color: #f7c08a;
    }
    #home-info{
        height: 400px;
    }
    #home-info img{
        width: 100%;
        height: 100%;
}
    #home-info .info-img{
        float: left;
        width: 50%;
        height: 100%;
    }
    #home-info .info-content{
        float: right;
        width: 50%;
        height: 100%;
        text-align: center;
        padding: 70px 30px;
    }
    #home-info .info-content p{
        padding-bottom: 20px;
        font-size: 18px;
    }
    .box{
        width: 33.3%;
        float: left;
        text-align: center;
        padding: 50px;
    }
    .btn{
        display: inline-block;
        font: 18px;
        background-color: #333;
        color: #fff;
        padding: 13px 20px;
        border: none;
        cursor: pointer;
    }
    .btn:hover{
        background-color: #f7c08a;
        color: #333;
    }
    .btn-light{
        background-color: #f4f4f4;
        color: #333;
    }
    .clr{
        clear: both;
    }
</style>