<template>
    <div>
        <section id="showcase">
                <img src="@/assets/showcase.jpg" alt="Foto">
            <div class="container">
                <div class="showcase-content">
                    <h1><span>Enjoy</span> Your Stay</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nostrum delectus id perferendis fuga harum aperiam eligendi ab nemo quaerat.
                    </p>
                    <a href="#" class="btn" >Aboute Us</a>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
}
</script>

<style scoped>
    .container{
        width: 90%;
        margin: 0 auto;
    }
    span{
        color: #f7c08a;
    }
    a{
        font-family: sans-serif;
        transition: ease .3s;
        font-weight: 500;
    }
    .btn{
        display: inline-block;
        font: 18px;
        background-color: #333;
        color: #fff;
        padding: 13px 20px;
        border: none;
        cursor: pointer;
    }
    img{
        position: absolute;
    }
    #showcase{
        position: relative;
        height: 80vh;
    }
    .showcase-content{
        position: absolute;
    }
    .btn:hover{
        background-color: #f7c08a;
        color: #333;
    }
    .btn-light{
        background-color: #f4f4f4;
        color: #333;
    }
    .btn-dark{
        background-color: #333;
        color: #fff;
    }
    .bg-dark{
        background-color: #333;
        color: #f4f4f4;
    }
    .bg-light{
        background-color: #f4f4f4;
        color: #333;
    }
    .bg-primary{
        background-color: #f7c08a;
        color: #333;
    }
    #showcase img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        
    }
    #showcase .showcase-content{
        color: #fff;
        padding-top: 170px;
        text-align: center;
    }
    #showcase h1{
        font-size: 60px;
    }
    #showcase p{
        font-size: 20px;
        padding-bottom: 20px;
    }
</style>