<template>
    <div>
        <!-- <my-modal v-model:show="modelVisibil" > -->
        <comment-form @addComment="createComment" />
        <!-- </my-modal> -->
        <!-- <div class="text-center m-3">
            <button @click="showModal" class="btn primary">Add New Commnet</button>
        </div>  -->
        <comment-list v-bind:comments="comments" @remove="removeComment" />
    </div>
    <div>
        <section id="contact-info" class="bg-dark">
            <div class="container">
                <div class="box bg-dark">
                    <i class="fas fa-hotel fa-3x"></i>
                    <h3> Location</h3>
                    <p>123 Main st, New York, NY</p>
                </div>
                <div class="box bg-dark">
                    <i class="fas fa-phone fa-3x"></i>
                    <h3>Phone Number</h3>
                    <p>(347) 779 7709</p>
                </div>
                <div class="box bg-dark">
                    <i class="fas fa-envelope fa-3x"></i>
                    <h3>Email</h3>
                    <p>info@gmain.com</p>
                </div>
            </div>
    </section>
    </div>
    
</template>
<script>
import CommentForm from '@/components/CommentForm'
import CommentList from '@/components/CommentList'
// import MyModal from '@/components/UI/MyModal'
export default {
    components:{
        CommentForm,
        CommentList,
        // MyModal,
    },
    data() {
        return {
            comments:[
                {id: 1, name: 'Valijon', email: 'vmizrofov@gmail.com'},
                {id: 2, name: 'Alijon', email: 'amizrofov@gmail.com'}
            ],
            // modelVisibil: false
        }
    },
    methods: { 
        createComment(comment) {
            this.comments.push(comment);
            // this.modelVisibil = false
        },
        removeComment(comment){ 
            this.comments = this.comments.filter(c => c.id != comment.id);
        },
        // showModal(){
        //     this.modelVisibil = true
        // }
    }
}
</script>




<style scoped>
    


    span{
        font-weight: 500;
    }
    #contact-form {
        padding: 20px;
    }
    #contact-form h1{
        font-size: 32px;
    }
    #contact-form p{
        padding: 10px 0;
    }
    #contact-form .form-group{  
        margin-bottom: 20px;
    }
    #contact-form label{
        display: block;
        margin-bottom: 5px;
    }
    #contact-form input,
    #contact-form textarea{
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
    }
    #content-info .container{
        width: 80%;
        padding: 25px;
        margin: 0 auto;
    }
    #contact-info {
        display: inline-block;
        width: 100%;
    }

    #contact-form button{
        font-size: 18px;
    }

    #contact-info i{
        padding-bottom: 10px;
        margin: 0;
    }
</style>