<template>
    <header>
        <nav id="navbar">
            <div class="container navbar-header">
                <div class="left-logo">
                    <h1>HBT</h1>
                </div>
                <div class="right-ul">
                    <ul>
                        <li><router-link  to="/" exact>Home</router-link></li>
                        <li><router-link  to="/add" exact>About</router-link></li>
                        <li><router-link  to="/content" exact>Contact</router-link></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>

<script>
export default {
    data(){
        return{
           
        }
    },

}
</script>

<style scoped>
    header{
        background-color: #333;
        color: #fff;
        height: 73px;
    }
    nav{
        margin: 0;
        padding: 0;
    }
    .navbar-header{
        display: flex;
    }
    .container{
        width: 1190px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    } 
    /* .current{
        background-color: #444;
        color: #f7c08a;
    }   */
    h1{
        font-size: 25px;
        font-family: sans-serif;
        align-items: center;
        padding: 12px;
        font-weight: bold;
        cursor: pointer;
    }
    a{
        font-family: sans-serif;
        display: inline-block;
        text-decoration: none;
        padding: 18px;
        color: #fff;
        transition: all .2s;
    }
    a.router-link-active{
        background-color: #444;
        color: #f7c08a;
    }
    router-link-active{
        background: #eee;
        color: #444;
    }
    .navbar-header li a:hover{
        color: #f7c08a;
        background-color: #444;
    }
    li{
        display: inline;
        list-style-type: none;
    }
    li:hover{
        cursor: pointer;
    }
    ul{
        display:inline-block;
        align-items: center;
        margin: 0;
        padding: 0;
    }
</style>