<template>
    <div>
        <!-- <component-header/> -->
        <component-showcase/>
        <component-home/>
        <component-feature/>
        <!-- <component-footer/> -->
    </div>
    <!-- <div>
        <aboute-hotel/>
        <aboute-testimonials/>
    </div>
    <div>
        <component-content/>
    </div> -->
</template>

<script>
// import ComponentHeader from '@/components/ComponentHeader'
import ComponentShowcase from '@/components/ComponentShowcase'
import ComponentHome from '@/components/ComponentHome'
import ComponentFeature from '@/components/ComponentFeature'
// import ComponentFooter from '@/components/ComponentFooter'

// import AbouteHotel from '@/components/AbouteHotel'
// import AbouteTestimonials from '@/components/AbouteTestimonials'
// import ComponentContent from '@/components/ComponentContent'
export default {
     components:{
        // ComponentHeader,
        ComponentShowcase,
        ComponentHome,
        ComponentFeature,
        // ComponentFooter,
        // AbouteHotel,
        // AbouteTestimonials,
        // ComponentContent,
    }
    
}
</script>

<style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------------
    Main style
    ---------------------------- */
html, body{
    font-family: sans-serif;
}
a{
    color: #fff;
    text-decoration: none;
}
h1, h2, h3{
    padding-bottom: 20px;
}
p{
    padding: 10px;
}
.current{
    background-color: #444;
    color: #f7c08a;
}
#navbar{
    background-color: #333;
    color: #fff;
    overflow: auto;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
</style>