<template>
    <div>
        <section id="main-footer">
            <p>Hotel BT &copy; 2022, All rights Reserved</p>
        </section>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>
    #main-footer{
        background-color: #333;
        text-align: center;
        padding: 20px;
    }
    #main-footer p{
        color: #fff;
    }
</style>