<template>
    <div>
         <section id="feature">
            <div class="box light">
                <i class="fas fa-hotel fa-3x"></i>
                <h3>Great Location</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, repellendus?</p>
            </div>
            <div class="box primary">
                <i class="fas fa-utensils fa-3x"></i>
                <h3>Great Location</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, repellendus?</p>
            </div>
            <div class="box light">
                <i class="fas fa-dumbbell fa-3x"></i>
                <h3>Great Location</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, repellendus?</p>
            </div>
            <div class="clr"></div>
        </section>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>
    .box{
    width: 33.3%;
    float: left;
    text-align: center;
    padding: 50px;
    }
    dark{
        background-color: #333;
        color: #f4f4f4;
    }
    light{
        background-color: #f4f4f4;
        color: #333;
    }
    .primary{
        background-color: #f7c08a;
        color: #333;
    }
    .clr{
        clear: both;
    }
</style>