<template>
  <component-header></component-header>
  <div>
    <router-view></router-view>
  </div>
  <component-footer></component-footer>
 
  
</template>

<script>
import ComponentHeader from './components/ComponentHeader.vue'
import ComponentFooter from './components/ComponentFooter.vue'
export default {
  components:{
    ComponentHeader,
    ComponentFooter,
  },
}
</script>
<style>
  *{
    margin: 0;
    padding: 0;
  }
  span{
      color: #f7c08a;
    } 
    p{
      font-family: sans-serif;
    }
</style>s