<template>
    <div>
        <h3>Comments</h3>
        <div class="container comment d-flex justify-content-between align-items-center" v-for="comment in comment" v-bind:key="comment">
             <div>
                <div><b>Name:</b> {{ comment.name }}</div>
                <div><b>Email:</b> {{ comment.email }}</div>
             </div>
            <div>
            <my-button class="btn danger" @click="$emit('remove', comment)">Delete</my-button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        comment:{
            type: Object,
            required: true
        }
    }
}
</script>

<style scoped>
    .comment{
            border: 5px solid #999;
            padding: 5px;
            margin: 20px auto;
            color: black;
        }
    .danger {
        background-color: rgb(114, 35, 35);
    }
</style>